<app-to-do-list [todos]="(todos$ | async)!"
                (toggleCompleteClick)="onToggleCompleteClick($event)"
                (deleteClick)="onDeleteClick($event)"></app-to-do-list>

<div>
    <input type="text"
           [(ngModel)]="todoValue"
           required>
    <input type="button"
           value="Add"
           (click)="addItem()">
</div>

<app-to-do-list [todos]="(completedTodos$ | async)!"
                (toggleCompleteClick)="onToggleCompleteClick($event)"
                (deleteClick)="onDeleteClick($event)"></app-to-do-list>
